@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #04052c;
    --secondary: #dbdbdb;
    --additional: #eea70f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    background-color: var(--primary);
}

.container {
    position: relative;
    width: 400px;
    height: 305px;
    background: var(--secondary);
    border-radius: 20px;
    padding: 20px 12px;
    overflow: hidden;
}

.container h4 {
    font-size: 2rem;
    color: var(--primary);
    margin: auto;
    text-align: center;
    margin-bottom: 1.2rem;
}

.container .form{
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 24px;
    align-items: center;
}

.height input{
    margin-left: 6px;
}

/* .container input::placeholder{
    color: var(--additional);
} */

.container input{
    padding: 5px;
    font-size: 1.2rem;
    width: 160px;
    height: 30px;
    border-radius: 6px;
}

.container .button{
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    margin-left: 120px;
    justify-content: space-evenly;
    align-items: center;
}

.container button{
    font-size: 1rem;
    font-weight: 100;
    margin-top: 30px;
    border: 10px;
    width: 100px;
    height: 40px;
    border-radius: 24px;
    cursor: pointer;
}

.container .button .reset {
    background-color: var(--additional);

}

.container .button .reset:hover {
    background-color: #faba05;
}

.container .button .submit {
    background-color: var(--primary);
    color: var(--secondary);
}

.container .button .submit:hover {
    background-color: #1a1a58;   
}